.site-landing {
    width: 100%;
    height: 100vh;
    text-align: center;

    .site-logo-holder {
        position: relative;
        display: flex;
        height: 50vh;
        align-items: flex-end;
    }

    .site-logo {
        position: relative;
        z-index: 1;
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .what-i-am-holder {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .button-holder {
        height: 20vh;
    }

    .scroll-down {
        height: 10vh;

        i {
            color: $color-gray-75;
            cursor: pointer;
            transition: color 0.4s ease;
        }

        &:hover i {
            color: $color-orange;
        }
    }

    .what-i-am-holder p {
        display: block;
        height: 20px;
    }

    .show-later {
        opacity: 0;
        transition: opacity 0.4s $timefunc-ease-in;
    }
}
