.logo {
    svg {
        height: 100%;
    }

    &:hover svg .flash {
        stroke: $color-gray-20;
        stroke-width: 100%;

    }
}

.flash {
    stroke: $color-brand;
    stroke-width: 0;
    transition: all 0.3s cubic-bezier(.68, .23, .92, .48);
}

.letter {
    stroke: $color-gray-20;
    stroke-width: 2px;
}

.letter.thick {
    stroke-width: 7px;
}

.kj-logo {
    .letter {
        animation-timing-function: cubic-bezier(.68, .23, .92, .48);
        animation-fill-mode: forwards;
        animation-name: draw, color-shift;
    }
    .k-upper,
    .j-lower {
        stroke-dashoffset: 60;
        stroke-dasharray: 60;
        animation-duration: 1s;
    }

    .k-left-upper,
    .k-left-lower,
    .k-lower,
    .j-upper {
        animation-duration: .2s;
        animation-delay: 1s;
    }

    .k-lower,
    .j-upper {
        stroke-dashoffset: 22.98;
        stroke-dasharray: 22.98;
    }

    .k-left-upper {
        stroke-dashoffset: 21;
        stroke-dasharray: 21;
    }

    .k-left-lower {
        stroke-dashoffset: 9;
        stroke-dasharray: 9;
    }
}
@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes color-shift {
    0% {
        stroke: $color-brand;
    }
    100% {
        stroke: $color-gray-20;
    }
}
