.mod-pagination {
    @include container();
    margin-top: 120px;
    margin-bottom: 120px;

    &__prev {
        float: left;
        text-align: right;

        .mod-pagination__title,
        .mod-pagination__sub-title {
            right: 0;
        }

        &:hover {
            .mod-pagination__img-container {
                clip-path: polygon(55% 60%, 45% 50%, 45% 50%, 55% 40%);
            }
        }
    }

    &__next {
        float: right;
        &:hover {
            .mod-pagination__img-container {
                clip-path: polygon(55% 50%, 45% 60%, 45% 40%, 55% 50%);
            }
        }
    }

    &__next,
    &__prev {
        position: relative;
        display: inline-block;
        width: 120px;
        color: $color-gray-20;
        border: 2px solid transparent;

        &:visited {
            color: $color-gray-20;
        }

        &:hover {
            border-color: $color-brand;

            .mod-pagination__title {
                top: calc(100% - 2rem);
                padding: 0 5px;
            }

            .mod-pagination__sub-title,
            img {
                opacity: 0;
            }

            .mod-pagination__img-container {
                border-radius: 100%;
            }
        }
    }

    &__sub-title {
        position: absolute;
        bottom: 100%;
        padding: 5px 0;
        color: $color-gray-75;
    }

    &__title {
        position: absolute;
        top: 100%;
        font-weight: bold;
    }

    &__sub-title,
    &__title {
        transition: .2s ease-in;
        transition-property: color opacity top padding;
        padding: .5em 0;
        display: block;
        pointer-events: none;
    }

    &__img-container {
        transition: .2s ease-in;
        transition-property: clip-path;
        display: block;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: $color-brand;
    }

    img {
        transition: opacity 0s ease-in .15s;
        display: block;
        opacity: 1;
    }
}

