.mod-content {
    @include container();
    margin: 60px auto 120px;
}

@include breakpoint($size: default, $inherit: small) {
    .mod-content {
        margin: 60px auto;
        .col-3 {
            width: 100%;
        }
    }
}
