.mod-content {
    @include container();
    margin: 60px auto 120px;

    @include breakpoint($size: default, $inherit: medium) {
        margin: 60px auto;
        .col-* {
            width: 100%;
        }
    }
}
