.nav-item {
    display: table-cell;

    width: 20%;
    height: 100px;

    text-align: center;
    list-style: none;

    vertical-align: middle;

    .logo {
        vertical-align: middle;
    }
}

.nav-link {
    position: relative;
    display: inline-block;

    height: 100px;

    color: $color-gray-25;

    font-family: $font-header;
    line-height: 4.85em;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
        color: $color-gray-25;
    }

    &.current,
    &:hover {
        text-decoration: underline;
    }
}

.nav-list {
    display: table;

    height: 100px;
    width: 100%;

    margin: 20px auto 120px;
}

.site-header {
    text-align: center;
}

