.nav-item {
    display: table-cell;

    width: 20%;

    text-align: center;
    list-style: none;

    svg {
        height: 100%;
        vertical-align: middle;
    }
}

.nav-link {
    position: relative;

    color: $color-gray-25;

    font-family: $font-header;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
        color: $color-gray-25;
    }

    &.current,
    &:hover {
        text-decoration: underline;
    }
}

.nav-list {
    display: table;

    height: 50px;
    width: 100%;

    margin: 20px auto 40px;
}

.site-header {
    text-align: center;
}

