logs
*.log
.DS_Store
# sass-globbing
old/src/components/sass/import
# lodash build files
old/src/components/app/vendor/lodash.build.js
old/src/components/app/vendor/lodash.build.min.js

# IDEA
.idea
.vs

node_modules/
.cache/

public/**/*
!public/CNAME

.env

