.footer {
    background-color: $color-gray-93;

    &__inner {
        @include container();
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 50px;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: $color-brand;
    }

    &__contact {
        @include span(3);

        .social-media {
            margin-top: 1rem;
        }
    }

    &__reading {
        @include container(3);
        @include span(3);
        margin-right: 0;
    }

    .book__img {
        @include span(2.1 of 6);
    }

    .book__title{
        margin-top: 0;
    }

    .book__text {
        @include span(2 of 3);
        margin-right: 0;
    }

    .copyright {
        border-top: 1px solid $color-gray-75;
        font-size: 1.2rem;
        @include span(6);
        text-align: center;
        margin-top: 40px;
        padding-top: 20px;
        color: $color-gray-75;
    }
}
