.footer {
    @include container();
    padding-top: 40px;
    margin: 0 auto 40px;

    &:before {
        content: '';
        display: block;
        width: span(3);
        height: 2px;
        background: $color-gray-75;
    }

    &__contact {
        @include span(3);

        .social-media {
            margin-top: 1rem;
        }
    }

    &__reading {
        @include container(3);
        @include span(3);
        margin-right: 0;
    }

    .book__img {
        @include span(2.1 of 6);
    }

    .book__text {
        @include span(2 of 3);
        margin-right: 0;
    }

    .copyright {
        @include span(6);
        margin-top: 20px;
        color: $color-gray-75;
    }
}
