$color-orange: #f50;
$color-twitter: #55acee;

$color-brand: #15FF9D;

$color-black: #000;

$color-gray-20: #343434;
$color-gray-25: #444;
$color-gray-75: #bfc1c1;
$color-gray-93: #fafafa;
$color-white: #fff;
