$susy: (
    columns: 6,  // The number of columns in your grid
    gutters: 1/2, // The size of a gutter in relation to a single column
/*    debug: (
        image: show,
        color: rgba($color-orange, 0.1),
        output: background,
        toggle: top right
    )*/
);
