.stretch {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    height: 0;
    width: 100%;
    line-height: 1em;
    opacity: 1;
    transition: height .3s
}

.stretch::before {
    position: absolute;
    content: attr(data-text);
    color: $color-gray-25;
    text-transform: uppercase;
    font-family: $font-header;
    left: 0;
    top: 0;
    transform: scale(1, 700)
}

.stretch-top.stretch::before {
    padding-top: 15px
}

.stretch-bottom.stretch::before {
    padding-bottom: 9px
}

.stretch-top {
    top: 0;
    left: 0
}

.stretch-bottom {
    bottom: 0;
    left: 0
}

@include breakpoint( $size:default, $inherit:medium ) {
    .stretch {
        display: none
    }
}