.mod-image-text-teaser {
    $corner-width: 30px;
    position: relative;
    width: auto;
    margin: 0 auto 200px;

    &__text {
        position: absolute;
        z-index: 2;
        width: span(2) + gutter();
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        &:before {
            content: '';
            position: absolute;
            border: $corner-width solid transparent;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @include breakpoint($size: large) {
        &:nth-of-type(even) {
            text-align: right;

            h2:before {
                left: auto;
                right: 0;
            }
        }

        &:nth-of-type(even) &__text {
            padding-right: gutter();
            left: 0;

            &:before {
                border-left-color: $color-white;
                border-right-width: 0;
                right: -$corner-width + 1px;
            }
        }

        &:nth-of-type(odd) &__text {
            padding-left: gutter();
            &:before {
                border-right-color: $color-white;
                border-left-width: 0;
                left: -$corner-width + 1px;
            }
        }

        &__image {
            width: span(4);
        }
    }

    @include breakpoint($size: default, $inherit: medium) {
        width: 100%;
        margin-bottom: 20px;

        &__text {
            position: relative;
            border: 0;
            width: 100%;
            margin-top: 0;
            bottom: auto;
            top: auto;
            transform: translate(0, 0);
            background-color: $color-white;

            p {
                text-align: left;
            }

            a {
                text-align: left;
            }
        }

        &:nth-of-type(even) {
            text-align: left;
        }
    }
}
