* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    color: $color-gray-25;
    margin: 0 auto;
}

fieldset {
    border: none;
}

.left {
    float: left
}

.right {
    float: right;
    text-align: right
}

.left::after,
.right::after {
    content: '';
    clear: both;
}

.highlighted {
    color: $color-orange;
}

.middle-column {
    width: 560px
}

.class .field {
    padding: 9px
}

.no-border::before,
.no-border::after {
    width: 0;
    margin: 0
}
