.site-body {
    width: 90%;
    max-width: 1000px;
    padding-top: 120px;
    margin: 0 auto;

    @include breakpoint($size: default, $inherit: medium) {
        padding-top: 60px;
    }
}

.site-body.show-grid {
    position: relative;

    &:before {
        @include container();
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        pointer-events: none;
    }
}
