.mod-features {
    margin-top: 60px;
    margin-bottom: 120px;

    h1 {
        margin-bottom: 60px;
    }
}

@include breakpoint($size: large) {
    .mod-features {
        @include container();

        .feature {
            @include span(2);

            &:nth-of-type(3) {
                margin-right: 0;
            }
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

@include breakpoint($size: small, $inherit: medium) {
    .mod-features {

        .feature {
            display: flex;
            flex-wrap: wrap;

            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }

        img {
            @include push(0.5);
            width: span(2);
            margin-right: gutter();
            order: 2;
        }

        h2 {
            order: 1;
            width: span(3);
            margin-right: gutter();
            margin-bottom: 20px;
            align-self: flex-end;
        }

        p {
            order: 3;
            width: span(3);
            margin-right: gutter();

            &:nth-of-type(2) {
                margin-right: 0;
            }
        }
    }
}

@include breakpoint($size: default, $inherit: false) {
    .mod-features {
        .feature {
            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }

        img {
            display: block;
            margin: 0 auto 20px;
            width: span(4);
        }
    }
}
