.album-art-holder {
    position: relative;
    perspective: 900px;
    border-radius: 4px
}

.album-art {
    display: block;
    width: 200px;
    border-radius: 10px;
    cursor: pointer
}

.album-art-copy {
    position: absolute;
    height: 100%;
    width: 50%;
    margin-left: 50%;
    top: 0;
    z-index: 100;
    background-position: right;
    background-size: cover;
    transform-origin: left center 0;
    transition: transform .6s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba($color-black, 0.1);

    &.fold {
        transform: rotateY(-60deg);
    }
    &.unfold {
        transform: rotateY(0deg);
    }
}

.background-effect {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}
