.album-art-holder {
    position: relative;
    z-index: 10;
    perspective: 900px;
    border-radius: 4px;
}

.album-art {
    display: block;
    width: 100%;
    border-radius: 10px 15px 15px 10px;
    cursor: pointer;
}

.album-art-copy {
    position: absolute;
    height: 100%;
    width: 50%;
    margin-left: 50%;
    top: 0;
    z-index: 100;
    background-position: right;
    background-size: cover;
    transform-origin: left center 0;
    transition: transform 0.6s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 1px 0 transparent;

    &.fold {
        transform: rotateY(-60deg);
    }

    &.unfold {
        transform: rotateY(0deg);
    }
}

.background-effect {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}
