.set {
    @include span(6);
    margin-bottom: 20px;
}

.set:nth-child(2n) {
    margin-right: 0;
}

@include breakpoint( $size:medium ) {

    .set {
        @include span(3);
    }

    .set:nth-child(2n) {
        margin-right: gutter();
    }

    .set:nth-child(4n) {
        margin-right: 0;
    }
}