@media (max-width: 1000px) {
  .site-body {
    width: 100%
  }
}

@media (max-width: 768px) {
  .site-header {
    padding-top: 10px;
    height: auto
  }

  .nav-item {
    display: inline;
  }

  .logo svg {
    height: 100%
  }

  .nav-link.current, .nav-link:hover, .nav-link.section {
    text-decoration: underline
  }

  .nav-link {
    line-height: 3em;
    display: inline
  }

  .stretch {
    display: none
  }

  .site-content {
    width: 90%
  }

  .showcase {
    width: 100%;
    margin-bottom: 20px
  }

  .showcase-image {
    width: 100%
  }

  .showcase .details {
    position: relative;
    border: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 0;
    bottom: auto;
    top: auto;
    transform: translate(0, 0);
    background-color: #f7f7f7
  }

  .showcase .details p {
    text-align: left
  }

  .showcase .details a {
    text-align: left
  }

  .site-landing.shrink .site-logo {
    width: 111px;
    transform: translate3d(0, 92%, 0)
  }
}

@media (max-width: 580px) {
  body {
    font-size: .8em
  }

  .logo svg {
    width: 80%
  }

  .nav-list {
    width: 100%
  }

  .nav-item {
    height: 50px
  }

  .nav-link, .nav-item {
    width: 20%
  }

  .nav-link {
    font-size: 1em
  }

  .stream {
    width: 100%
  }

  .set:last-of-type {
    margin-right: 40px
  }

  .set:first-of-type {
    margin-left: 40px
  }

  .control button {
    border: none;
    font-size: 1em
  }

  .site-landing.shrink .site-logo {
    width: 76px;
    transform: translate3d(0, 92%, 0)
  }
}