
.set-details {
    width: 560px;
    margin: 0 auto
}

.set-details p {
    margin-top: 10px;
    line-height: 1.3em;
    white-space: pre-wrap
}

.gallery-overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.set {
    margin: 40px;
    width: 200px;
}

.set:first-of-type {
    margin-left: 0
}

.set:last-of-type {
    margin-right: 0
}

@include breakpoint( $size:default, $inherit:small ) {
    .set:last-of-type {
        margin-right: 40px
    }

    .set:first-of-type {
        margin-left: 40px
    }
}