a {
    text-decoration: none;
}

.link {
    $border: 1px;
    color: $color-gray-20;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-shadow: -$border $border $color-white,
    0 $border $color-white,
    $border $border $color-white;

    &:visited {
        color: $color-gray-20;
    }

    &:hover {
        color: $color-gray-20;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: -.1em;
        width: 100%;
        height: .1em;
        background-color: $color-brand;
        transition-duration: .2s;
        transition-property: width;
        transition-timing-function: ease-out;
    }

    &:hover:after {
        width: 30%;
        transition-timing-function: ease-in;
    }
}

.link--cta {
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: $color-gray-75;
    font-family: $font-copy;

    &:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 100%;
        top: 50%;
        margin-top: -13px;
        right: 0;
        transform: translateX(-110%);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: $timefunc-ease-in;
        background: $color-orange;
    }

    &:hover:after {
        transform: translateX(110%);
    }

    &:before {
        content: attr(data-text);
        position: absolute;
        z-index: 2;
        width: 0;
        font-family: $font-copy;
        overflow: hidden;
        white-space: nowrap;
        transition-property: width;
        transition-duration: 0.4s;
        transition-timing-function: $timefunc-ease-in;
        color: $color-orange;
    }

    &:hover:before {
        width: 100%;
    }
}

.link--cta--small {
    font-size: 1em;
    margin-bottom: -6px;
}

.link--cta--big {
    font-size: 4em;

    &:before {
        transition-property: width;
    }

    //buggie in chrome
    &:after {
        content: none;
    }
}

$link-colors: (
    lisa-hantke: #177b15,
    twitter: #{$color-twitter},
    soundcloud: #{$color-orange},
    zwilling: #f01114,
    carolus: #a30024,
    gedore: #004c95,
    gedore-shop: #2484e3,
    jacques: #af1e2d,
    baraka: #0017ff,
    condor: #f8ac00
);

@each $profile, $color in $link-colors {
    .link--cta.#{$profile}:after {
        background-color: $color;
    }

    .link--cta.#{$profile}:before {
        color: $color;
    }
}
