a {
    text-decoration: none;
}

.link {
    color: $color-orange;

    &:visited {
        color: $color-orange;
    }

    &:hover {
        color: $color-gray-25;
        text-decoration: underline $color-orange;
    }
}

.link--cta {
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: $color-gray-75;
    font-family: $font-header;
    text-transform: uppercase;

    &:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 100%;
        top: 50%;
        margin-top: -13px;
        right: 0;
        transform: translateX(-110%);
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: $timeFunc-easeIn;
        background: $color-orange;
    }

    &:hover:after {
        transform: translateX(110%);
    }

    &:before {
        content: attr(data-text);
        position: absolute;
        z-index: 2;
        width: 0;
        font-family: $font-header;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        transition-property: width;
        transition-duration: .4s;
        transition-timing-function: $timeFunc-easeIn;
        color: $color-orange;
    }

    &:hover:before {
        width: 100%;
    }
}

.link--cta--small {
    font-size: 1em;
    margin-bottom: -6px
}

.link--cta--big {
    font-size: 4em;

    &:before {
        transition-property: width;
    }

    //buggie in chrome
    &:after {
        content: none;
    }
}

$linkColors: (
    lisa-hantke: #177B15,
    twitter: #{$color-twitter},
    soundcloud: #{$color-orange},
    zwilling: #F01114,
    carolus: #A30024,
    gedore: #004C95,
    gedore-shop: #2484E3,
    jacques: #AF1E2D,
    baraka: #0017FF,
    condor: #F8AC00
);

@each $profile, $color in $linkColors {
    .link--cta.#{$profile}:after {
        background-color: $color;
    }
    .link--cta.#{$profile}:before {
        color: $color;
    }
}