a {
    text-decoration: none;
}

.link--cta {
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: $color-gray-75;
    font-family: "nexa-bold", sans-serif;
    text-transform: uppercase;

    &:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 100%;
        top: 50%;
        margin-top: -13px;
        right: 0;
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: $timeFunc-easeIn;
    }

    &:hover:after {
        transform: translateX(100%);
    }

    &:before {
        content: attr(data-text);
        position: absolute;
        z-index: 2;
        width: 0;
        font-family: "nexa-bold", sans-serif;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        transition-property: width;
        transition-duration: .4s;
        transition-timing-function: $timeFunc-easeIn;
    }

    &:hover:before {
        width: 100%;
    }
}

.link--cta--small {
    font-size: 1em;
    margin-bottom: -6px
}

.link--cta--big {
    font-size: 4em;

    &:before {
        transition-property: width;
    }

    //buggie in chrome
    &:after {
        content: none;
    }
}

.soundcloud::after {
    background-color: $color-orange;
}

.soundcloud::before {
    color: $color-orange;
}

.twitter::after {
    background-color: $color-twitter;
}

.twitter::before {
    color: $color-twitter;
}

.neutral::after {
    background: $color-orange;
}

.neutral::before {
    color: $color-orange;
}