.mod-image-text {
    @include container();
    @include breakpoint( $size: default, $inherit: medium) {
        margin: 5rem auto;
    }

    margin: 60px auto 120px;

    &__header {
        @include span(2);
        @include push(4);
        margin-bottom: 1.5em;
    }

    &__image {
        @include span(4);

        img {
            margin-bottom: 4.5rem;
        }
    }

    &__text {
        @include span(2);
        margin-right: 0;

        p:first-child {
            margin-top: -0.5rem;
        }
    }
}
