.mod-image-text {
    @include container();
    @include breakpoint( $size: default, $inherit: medium) {
        margin: 60px auto;
    }

    margin: 120px auto;

    &__image-col {
        @include span(4);

        img {
            margin-bottom: 20px;
        }
    }

    &__text-col {
        @include span(2);
        margin-right: 0;

        h1 {
            margin-top: -15px;
        }
    }
}
