@font-face {
    font-family: 'nexa';
    src: url("../fonts/nexa/nexa_bold-webfont.eot");
    src: url("../fonts/nexa/nexa_bold-webfont.eot?#iefix") format('embedded-opentype'),
    url("../fonts/nexa/nexa_bold-webfont.woff2") format('woff2'),
    url("../fonts/nexa/nexa_bold-webfont.woff") format('woff'),
    url("../fonts/nexa/nexa_bold-webfont.ttf") format('truetype');
    font-weight: normal;
}

/*@font-face {
    font-family: 'nexa';
    src: url("../fonts/nexa/nexa_light-webfont.eot");
    src: url("../fonts/nexa/nexa_light-webfont.eot?#iefix") format('embedded-opentype'),
    url("../fonts/nexa/nexa_light-webfont.woff2") format('woff2'),
    url("../fonts/nexa/nexa_light-webfont.woff") format('woff'),
    url("../fonts/nexa/nexa_light-webfont.ttf") format('truetype');
    font-weight: 300;
}*/

@font-face {
    font-family: 'cambo-regular';
    src: url("../fonts/cambo/cambo-regular-webfont.eot");
    src: url("../fonts/cambo/cambo-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/cambo/cambo-regular-webfont.woff2") format('woff2'), url("../fonts/cambo/cambo-regular-webfont.woff") format('woff'), url("../fonts/cambo/cambo-regular-webfont.ttf") format('truetype')
}