h2,
h3 {
    font-family: $font-header;
}

h1,
.display {
    font-family: $font-display;
    color: $color-gray-20;
    font-weight: bold;
    font-size: 5rem;
    margin: 1.5rem 0 3rem;
}

h1::after,
h2::after {
    margin-left: 5px;
}

h1::before,
h2::before {
    margin-right: 5px;
}

h2 {
    color: $color-gray-20;
    font-weight: normal;
    font-size: 2rem;
    margin: 1.5em 0 0.6em;
}

h3 {
    color: $color-gray-20;
    font-weight: normal;
    font-size: 1.6rem;
    margin: 1.5em 0 0.6em;
}


p {
    line-height: 1.5em;
    margin: 1.5em 0;
}

